<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(to right, #3949ab, #1e88e5);">
    <div class="container">
      <a class="navbar-brand" href="/" style="font-weight: 700;">
        <i class="fas fa-flask"></i> Chemistry Fusion
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="fas fa-home"></i> Phòng thí nghiệm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/notebook"><i class="fas fa-book"></i> Sổ Tay Hóa Học</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/achievements"><i class="fas fa-trophy"></i> Thành Tích</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
</header> 